@font-face {
  font-family: brokenConsole;
  src: url(../res/fonts/BrokenConsoleRegular.otf);
  font-weight: normal;
}

@font-face {
  font-family: brokenConsole;
  src: url(../res/fonts/BrokenConsoleBold.otf);
  font-weight: bold;
}
